﻿
.featured-products h3,
.featured-collections h3,
.featured-products .page-header,
.featured-collections .page-header {
	margin-top: 0;
}

@media (min-width: 768px) {
	.product-grid .thumbnail {
		width: 175px;
		height: 250px;
	}

	.product-collection-grid .thumbnail {
		padding-bottom: 10px;
		padding-top: 10px;
		width: 175px;
	}
}
