﻿.table .empty {
	background: url('~/img/Grad_box.png') repeat-x;
}

#new-opportunities .table tr.saved
{
	background-color: #DEE7ED;
	color: #aaa;
}

#search {
	padding-bottom: 5px;
}

.opportunity-copy {
	padding-bottom: 12px;
}

#accepted-opportunities {
	padding-top: 10px;
}

#select-all-container {
	margin-bottom: 10px;
}
