﻿.page-header .forum-controls.pull-right {
	margin-left: 10px;
}

.forums td {
	vertical-align: middle;
}

.forums .count {
	text-align: center;
	width: 10%;
}

.forums .name {
	width: 60%;
}

.forums .name h3 {
	margin: 0;
}

.forums .last-post {
	width: 20%;
}

.forums .last-post .postedon {
	display: block;
}

.forum-threads .count {
	width: 5%;
}

.forum-threads .labels {
	text-align: right;
	width: 5%;
}

.forum-threads .name {
	width: 50%;
}

.forum-threads .name h4 {
	font-size: 15px;
	margin: 0;
}

.forum-threads .author {
	width: 20%;
}

.form-forum-thread .validator {
	display: none;
}

.forum-post {
	margin-bottom: 20px;
}

.forum-post + .forum-post {
	border-top: solid 1px #ddd;
	padding-top: 19px;
}

.forum-post .metadata,
.forum-post .metadata .author-link,
.forum-post .metadata .postedon {
	display: block;
	text-align: right;
}

.forum-post .metadata .author-img {
	display: inline-block;
	margin: 10px 0;
}

.forum-post .metadata .alert {
	margin-bottom: 10px;
	padding: 8px 14px;
	text-align: center;
}

.forum-post .attachments {
	margin-top: 20px;
}

.forum-post .attachments ul {
	list-style-type: none;
	margin-left: 0;
}

.forum-post .btn-toolbar {
	float: right;
	margin-left: 10px;
	margin-top: 0;
}

@media (max-width: 768px) {
	.forum-post {
		padding-bottom: 9px;
	}
	
	.forum-post .metadata {
		margin-bottom: 20px;
	}
	
	.forum-post .metadata,
	.forum-post .metadata .author-link,
	.forum-post .metadata .postedon {
		text-align: left;
	}
	
	.forum-post .metadata .author-img {
		display: none;
	}
	
	.forum-post .btn-toolbar {
		float: none;
		margin-left: 0;
	}
}