<%@ Master Language="C#" AutoEventWireup="True" Inherits="Site.MasterPages.Default" CodeBehind="Default.master.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<crm:CrmEntityDataSource ID="CurrentEntity" DataItem="<%$ CrmSiteMap: Current %>" runat="server" />
	<head runat="server">
		<title>
			<asp:Literal Text="<%$ Snippet: Browser Title Prefix %>" runat="server" />
			<crm:Property DataSourceID="CurrentEntity" PropertyName="Adx_Title,Adx_name" Literal="true" HtmlEncode="true" runat="server" />
		</title>
		<meta http-equiv="Expires" content="0" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<link rel="stylesheet" type="text/css" href="~/css/all.css.aspx" />
		<link rel="stylesheet" type="text/css" href="~/css/settings.css.aspx" />
		<link rel="stylesheet" type="text/css" href="~/css/print.css" media="print" />
		<link rel="Stylesheet" type="text/css" href="~/xrm-adx/css/yui-skin-sam-2.9.0/skin.css" />
	</head>
	<body>
		<form runat="server">
			<asp:ScriptManager runat="server">
				<Scripts>
					<%--The YUI script consists of the following build http://yui.yahooapis.com/combo?2.9.0/build/yahoo-dom-event/yahoo-dom-event.js&2.9.0/build/element/element-min.js&2.9.0/build/connection/connection-min.js&2.9.0/build/dragdrop/dragdrop-min.js&2.9.0/build/container/container-min.js&2.9.0/build/menu/menu-min.js&2.9.0/build/button/button-min.js&2.9.0/build/calendar/calendar-min.js&2.9.0/build/cookie/cookie-min.js&2.9.0/build/json/json-min.js --%>
					<asp:ScriptReference Path="~/xrm-adx/js/yui-2.9.0-combo.min.js" />
					<asp:ScriptReference Path="~/xrm-adx/js/jquery-1.7.1.min.js" />
				</Scripts>
			</asp:ScriptManager>
			<crm:SiteEditingManager runat="server">
				<%-- These scripts and styles are required for XRM inline editing support. --%>
				<DependencyScripts>
					<asp:ScriptReference Path="~/xrm-adx/js/yui-2.9.0-combo.min.js" />
					<asp:ScriptReference Path="~/xrm-adx/js/jquery-1.7.1.min.js" />
					<asp:ScriptReference Path="~/xrm-adx/js/jquery-ui-1.8.18.min.js" />
					<asp:ScriptReference Path="~/xrm-adx/js/tiny_mce/tiny_mce.js" />
				</DependencyScripts>
				<DependencyStyles>
					<crm:StyleReference Path="~/xrm-adx/css/yui-skin-sam-2.9.0/skin.css" />
				</DependencyStyles>
			</crm:SiteEditingManager>
			<div id="layout">
				<div id="hd">
					<div class="section first">
						<crm:Snippet SnippetName="Header" EditType="html" runat="server" />
					</div>
					<div class="section">
						<div id="hd-links">
							<asp:LoginName runat="server"/>
						</div>
					</div>
					<crm:WebLinks WebLinkSetName="Primary Navigation" CssClass="navigation" ShowLinkDescriptions="false" ShowCopy="false" ShowTitle="false" ShowImage="false" runat="server" CurrentSiteMapNodeCssClass="active" />
				</div>
				<div id="bd">
					<asp:ContentPlaceHolder ID="Breadcrumbs" runat="server">
						<asp:SiteMapPath CssClass="breadcrumbs" runat="server" />
					</asp:ContentPlaceHolder>
					<div id="main">
						<div id="content">
							<asp:ContentPlaceHolder ID="MainContent" runat="server">
								<h1 class="pageTitle">
									<crm:Property DataSourceID="CurrentEntity" PropertyName="Adx_Title,Adx_name" EditType="text" runat="server" />
								</h1>
								<crm:Property DataSourceID="CurrentEntity" PropertyName="Adx_Copy" CssClass="copy" EditType="html" runat="server" />
							</asp:ContentPlaceHolder>
							<asp:ContentPlaceHolder ID="ContentBottom" runat="server">
								<crm:CrmSiteMapChildView runat="server">
									<LayoutTemplate>
										<div class="navigation frame">
											<ul>
												<asp:PlaceHolder ID="ItemPlaceHolder" runat="server" />
											</ul>
										</div>
									</LayoutTemplate>
									<ItemTemplate>
										<li>
											<asp:HyperLink NavigateUrl='<%# Eval("Url") %>' Text='<%# Eval("Title") %>' runat="server" />
											<crm:CrmEntityDataSource ID="ChildEntity" DataItem='<%# Container.DataItem %>' runat="server" />
											<crm:Property DataSourceID="ChildEntity" PropertyName="Adx_Summary,Adx_Description" EditType="html" runat="server" />
										</li>
									</ItemTemplate>
								</crm:CrmSiteMapChildView>
							</asp:ContentPlaceHolder>
						</div>
						<%--For css :empty rule to hide empty sidebar and sections it is important to not have whitespace or line breaks between open and close sidebar div and each section divs.--%>
						<div id="sidebar"><asp:ContentPlaceHolder ID="SidebarContent" runat="server"><div class="section"><crm:WebLinks WebLinkSetName="Secondary Navigation" CssClass="navigation" runat="server" /></div><asp:ContentPlaceHolder ID="SidebarBottom" runat="server" /></asp:ContentPlaceHolder></div>
					</div>
				</div>
				<div id="ft">
					<div class="section first">
						<crm:Snippet SnippetName="Footer Text Left" EditType="html" runat="server" />
					</div>
					<div class="section">
						<crm:WebLinks WebLinkSetName="Footer" CssClass="navigation" ShowLinkDescriptions="false" ShowCopy="false" ShowTitle="false" ShowImage="false" runat="server" />
					</div>
				</div>
			</div>
			<crm:CrmEntityEditingManager DataSourceID="CurrentEntity" runat="server" />
		</form>
	</body>
</html>
