﻿/* Permits Home Page
------------------------------------------------------------*/

.permits a.permit {
	box-shadow: none;
	color: #333333;
    display: block;
    text-decoration: none;
	padding-left: 9px;
	padding-right: 9px;
	margin-bottom: 0;
	height: 90px;
}

.permits a.permit img {
	margin-bottom: 19px;
}

.permits a.permit:hover, #permits a.permit:focus {
    color: #3A87AD;
}

.permits a.permit:hover, #permits a.permit:focus {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    box-shadow: 0 0 4px #BCE8F1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
