﻿#product-image-box img {
	max-width: 360px;
	text-align: center;
}

#gallery.flexslider {
	margin: 15px 30px 20px 30px;
}

#gallery.flexslider a.thumbnail img {
	width: 50px;
	height: 50px;
}

#gallery .thumbnails > li {
	margin: 0 0 0 5px;
}

.flexslider .flex-prev,
.flexslider:hover .flex-prev {
	left: -36px !important;
}

.flexslider .flex-next,
.flexslider:hover .flex-next {
	right: -36px !important;
}

#product-name h1 {
	margin: 0;
}

#product-shop {
	clear: both;
	vertical-align: middle;
	margin: 20px 0 20px 0;
}

#product-shop:after {
	content: "."; display: block; height: 0; clear: both; visibility: hidden;
}

#product-extended-info {
	text-align: left;
}

#product-extended-info:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#add-to-cart-box {
	margin: 10px 0;
	line-height: 40px;
}

#social {
	clear: both;
}

#product-details {
	margin-top: 20px;
}

.nav-product-filter {
	padding: 8px 0;
}

#product-rating {
	margin: 10px 10px 0 0;
	margin-bottom: 5px;
}

#product-rating div.rateit {
	height: 16px;
}

#product-rating .rating-info {
	line-height: 16px;
	padding: 0 10px 0 10px;
	position: absolute;
}

#product-rating .rating-info span {
	padding-right: 10px;
}

/* Reviews */

#create-review-box {
	margin-bottom: 15px;
}

.review {
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #eeeeee;
}

.review:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.review .content {
	margin: 15px 0 0 0;
}

.validation-summary-valid {
	display: none;
}

.collection-grid {
	margin-top: 20px;
}

@media (min-width: 768px) {
	.product-grid .thumbnail {
		width: 175px;
		height: 250px;
	}
	.collection-grid .thumbnail {
		width: 175px;
		height: 230px;
	}
}

.nav-list a .rateit {
	vertical-align: text-top;
}

#cancel-review:disabled {
	color: gold;
	font-weight: bold;
}