﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Default.master" AutoEventWireup="true" CodeBehind="AccessDenied.aspx.cs" Inherits="Site.Pages.AccessDenied" %>
<asp:Content ContentPlaceHolderID="Breadcrumbs" runat="server" />
<asp:Content ContentPlaceHolderID="ContentBottom" runat="server"/>
