<%@ Page Language="C#" MasterPageFile="~/MasterPages/Default.master" AutoEventWireup="True" CodeBehind="Page.aspx.cs" Inherits="Site.Pages.Page" %>
<%@ OutputCache VaryByParam="*" VaryByCustom="user" Duration="60" %>