﻿
/* Help Desk
------------------------------------------------------------*/
.cases {
	margin: 40px 0;
}

.cases .controls {
	margin-bottom: 10px;
}

.case-deflection {
	margin: 20px 0;
}

.case-deflection .search h3 {
	font-size: 18px;
	font-weight: 300;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}

.case-deflection .subject {
		width: 400px;
	}

.case-deflection .open-request {
	margin: 40px 0;
	padding-right: 14px;
}

.case-deflection .open-request p {
	font-size: 18px;
	line-height: 40px;
}

.case .case-controls {
	margin-top: 0;
}

.case .ticket-number {
	white-space: nowrap;
}

.case .case-info {
	line-height: 40px;
	margin-bottom: 20px;
	vertical-align: middle;
}

.case .case-info .user-avatar {
	display: inline-block;
	margin-right: 10px;
}

.case .case-description {
	margin-bottom: 40px;
}

.case .resolution + .resolution,
.case .note + .note {
	border-top: 1px solid #EEE;
	padding-top: 19px;
}

.case .resolution .description,
.case .note .text,
.case .note .attachment,
.case .resolution .metadata,
.case .note .metadata {
	margin-bottom: 20px;
}

.case .resolution .metadata,
.case .note .metadata {
	text-align: right;
}

.case .crmEntityFormView.readonly {
	padding-left: 0;
}

.case .crmEntityFormView .cell.picklist-cell .control > span,
.case .crmEntityFormView .cell.lookup-cell .control > span {
	display: block;
	margin-bottom: 10px;
}

.case .crmEntityFormView .cell input:disabled,
.case .crmEntityFormView .cell select:disabled {
	background: none;
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	padding: 0;
}

.case .crmEntityFormView.readonly .cell div.info.required label:after {
	content: none;
}

.case .crmEntityFormView .cell div.info label {
	font-weight: bold;
}

@media (max-width: 979px) {
	.case-deflection .subject {
		width: 270px;
	}
}

@media (max-width: 767px) {
	.case .resolution .metadata,
	.case .note .metadata {
		text-align: left;
	}
}

@media (max-width: 480px) {
	.case .case-controls,
	.case .status {
		float: none;
		margin-bottom: 20px;
	}
	
	.case .case-controls .btn {
		display: block;
		float: none;
	}
	
	.case .case-controls .btn-group {
		display: block;
		margin-left: 0;
		margin-bottom: 10px;
	}
	
	.case-deflection .subject,
	.case-deflection .product {
		display: block;
		margin-bottom: 10px;
		width: 100%;
	}
	
	.case-deflection .search,
	.case-deflection .open-request {
		background: none;
		border: none;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
		padding: 0;
	}
	
	.case-deflection .open-request .controls {
		float: none;
	}
	
	.case-deflection .open-request .controls .btn {
		display: block;
		float: none;
		margin-bottom: 10px;
		width: 100%;
	}
	
	.cases .controls .label {
		display: none;
	}
	
	.cases .controls select {
		display: block;
		margin-bottom: 10px;
		width: 100%;
	}
}
