﻿/***** base *****/

* {
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

body {
	font-family: Verdana, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
	margin: 0;
	text-align: center;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

p, blockquote, pre, td, th, ul, ol {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin-top: 0;
}

h4, h5, h6, #bd .breadcrumbs, #ft {
	font-size: 0.8333333333333334em;
	line-height: 1.8em;
}

h1, #hd h2 {
	font-size: 1.6666666666666667em;
	line-height: 0.9em;
	margin-bottom: 0.9em;
}

h2 {
	font-size: 1.3333333333333333em;
	line-height: 1.125em;
	margin-bottom: 1.125em;
}

h3 {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

h4, h5, h6 {
	margin-bottom: 1em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

fieldset {
	border: 0 none;
}

#layout {
	margin: 0 auto;
	text-align: left;
	-webkit-box-shadow: 0 0 10px #555;
	-moz-box-shadow: 0 0 10px #555;
	box-shadow: 0 0 10px #555;
}

#hd:after, #bd:after, #ft:after, #hd .navigation:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#hd, #bd, #ft, #hd .navigation {
	clear: both;
}

#ft {
	padding: 20px;
}

#bd {
	overflow: hidden;
	min-height: 400px;
}

#main {
	width: 100%;
	float: left;
	font-size: 0.9em;
	line-height: 1.4em;
	border-left: 1px solid #E0E0E0;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#hd .navigation {
	margin-left: 12px;
}

#hd .navigation li {
	float: left;
}

#hd .navigation li a {
	display: block;
	margin-right: 2px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
	text-decoration: none;
	white-space: nowrap;
}

#hd-links {
	font-size: 0.8em;
	line-height: 1.2em;
	text-align: right;
	margin: 12px 20px 5px 0;
}

#hd p, #hd h1, #hd h2, #hd h3, #hd h4, #hd h5, #hd h6 {
	padding: 18px 20px 0 20px;
}

#hd .search {
	font-size: 0.8em;
	margin-right: 20px;
}

#hd .search input {
	padding: 0;
	margin: 0;
}

#hd .navigation li a {
	font-size: .9em;
}

#hd .section {
	float: right;
	text-align: right;
	width: 50%;
	margin-bottom: 10px;
}

#hd .section.first {
	float: left;
	text-align: left;
}

#bd .breadcrumbs {
	border-bottom: solid 1px #E0E0E0;
	display: block;
	padding: 2px 20px;
}

#content {
	margin: 20px 20px;
	float: left;
}

#content .frame {
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
	margin: 1.5em -10px;
	padding: 0.75em 10px;
}

#sidebar {
	float: left;
	margin: 20px 20px 20px 0;
	min-height: 20px;
	padding: 20px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#sidebar .section:empty {
	display: none;
}

#sidebar:empty {
	display: none;
}

#sidebar .section {
	margin: 0 0 20px 0;
}

#sidebar .section:last-child {
	margin: 0;
}

#sidebar .section:only-child {
	margin-bottom: 20px;
}

#ft .section {
	float: right;
	text-align: right;
	width: 50%;
}

#ft .section.first {
	float: left;
	text-align: left;
}

#ft .navigation .weblinkset-weblinks, #ft .navigation ul, #ft .navigation li {
	display: inline;
}

#ft .navigation li {
	margin-left: 1em;
}

#ft p {
	margin: 0;
}

input, textarea {
	padding: 2px;
}

h1 .xrm-attribute, h2 .xrm-attribute, h3 .xrm-attribute, h4 .xrm-attribute, h5 .xrm-attribute, h6 .xrm-attribute {
	display: block;
}

div.copy ol {
	list-style: decimal outside;
	padding-left:1.5em;
	margin-left:0;
}

div.copy ul {
	list-style: disc outside;
	padding-left:1em;
	margin-left:0;
}

input.button {
	background: none repeat scroll 0 0 #014083;
	border: none;
	-moz-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	padding: 4px 18px;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
}

input.button:hover {
	background: none repeat scroll 0 0 #36566b;
}

/***** Helpers *****/

.hidden {
	display: none;
}

div.clearfix { /* force container’s height to adjust to floated elements */
	clear: both;
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/***** login *****/

#login td {
	text-align: left;
}

#login label {
	font-size: 1em;
	line-height: 1.8em;
}

#login .text {
	margin-bottom: 0.85em;
	width: 90%;
}

#login .error {
	font-style: italic;
	padding: 5px 0 0 0;
	color: Red;
}

#login .validator {
	font-style: italic;
}

#login .instruction {
	color: #666;
}

#login .success {
	background: #FFFFFF;
	border: 1px solid;
	color: #003366;
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 3px 3px 3px 0 #CCCCCC;
	-moz-box-shadow: 3px 3px 3px 0 #CCCCCC;
	box-shadow: 3px 3px 3px 0 #CCCCCC;
}

#login .button {
	margin-top: 0.85em;
	float: left;
}

#login td.checkbox label {
	padding-left: 5px;
	text-indent: -5px;
}

#login td.checkbox input {
	width: 13px;
	height: 13px;
	padding: 0;
	margin:0;
	vertical-align: middle;
	position: relative;
	top: -1px;
	overflow: hidden;
}

#login h2 {
	color: #003366;
}

#login #signin table {
	width: 50%;
}

#login #signup table {
	width: 50%;
}

#login #signup tr td:first-child {
	width: 135px;
	text-align: right;
	vertical-align: top;
	padding-right: 7px;
}

#login #password-recovery {
	margin: 15px 0 0 0;
}

#login .title-text {
	font-weight: bold;
	font-size: 1em;
}

#login .label {
	color: #000;
}

#login #password-recovery .text {
	margin: 0;
}

/***** change-password *****/

#change-password td {
	text-align: left;
}

#change-password label {
	font-size: 1em;
	line-height: 1.8em;
}

#change-password .text {
	margin-bottom: 0.85em;
	width: 90%;
}

#change-password .error {
	font-style: italic;
	padding: 5px 0 0 0;
	color: Red;
}

#change-password .validator {
	font-style: italic;
}

#change-password .instruction {
	color: #666;
}

#change-password .success {
	background: #FFFFFF;
	border: 1px solid;
	color: #003366;
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 3px 3px 3px 0 #CCCCCC;
	-moz-box-shadow: 3px 3px 3px 0 #CCCCCC;
	box-shadow: 3px 3px 3px 0 #CCCCCC;
}

#change-password .button {
	margin-top: 0.85em;
	float: left;
}

#change-password h2 {
	color: #003366;
}

#change-password table {
	width: 50%;
}

#change-password .title-text {
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 5px;
}

#change-password .label {
	color: #000;
	padding-bottom: 7px;
}

/**** profile *****/

#profile .message {
	background: #FFFFFF;
	border: 1px solid;
	color: #003366;
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 3px 3px 3px 0 #CCCCCC;
	-moz-box-shadow: 3px 3px 3px 0 #CCCCCC;
	box-shadow: 3px 3px 3px 0 #CCCCCC;
}

#profile .lists {
	clear: both;
	font-size: 0.85em;
	margin: 0 0 15px 0;
}

#profile .lists .title {
	color: #003366;
	font-weight: normal;
}

#profile .lists ul {
	margin: 0;
}

#profile input[type=checkbox] {
	margin: 0 3px 0 0;
	vertical-align: middle;
}

#profile .purpose {
	font-style: italic;
	color: #666;
}