﻿/***** Manually Generated Forms *****/

.form .row {
	clear: both;
	margin-bottom: 10px;
}

.form .row:after {
	content: "."; display: block; height: 0; clear: both; visibility: hidden;
}

.form .row .field {
	float: left;
	width: 50%;
	margin-right: 25px;
}

.form .row .field:last-child {
	margin-right: 0px;
}

.form .row.full .field {
	margin: 0;
	width: 100%;
}

.form .row .field label {
	display: block;
	margin-bottom: 2px;
}

.form .row .field.required label:after {
	content: ' *';
	color: red;
}

.form .row .field input[type=text], .form .row .field select, .form .row .field textarea {
	padding: 2px;
	width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form fieldset {
	margin: 0;
}

.form legend {
	font-size: 1em;
	font-weight: bold;
	padding-bottom: 10px;
}

.form .validation-message {
	font-size: 13px;
	font-style: italic;
	color: Red;
}

.form .validation-summary {
	margin: 0 0 5px 0;
	font-size: 13px;
	font-style: italic;
	color: Red;
}

.form .validation-summary ul {
	margin: 0;
	list-style: none;
}