﻿/** Tabular Data (Gridview) **/

#Tabular-Data {
	margin-top: 18px;
}

#Tabular-Data .case-filter {
	margin-bottom: 1.5em;
}

#Tabular-Data .tabular-data {
	margin-bottom: 1.5em;
	width: 96%;
}

#Tabular-Data .tabular-data th {
	font-weight: bold;
}

#Tabular-Data .tabular-data td.center {
	text-align:center;
}

#Tabular-Data .tabular-data th, #Tabular-Data .tabular-data td {
	border: solid 1px #ccc;
	padding: 0.4em 0.8em;
	text-align: left;
}
