﻿
#EntityListControl {
	display: block;
}

.calendar-loading {
	background: url('../img/loading.gif') no-repeat 50% 50%;
	display: block;
	height: 19px;
	margin-top: 20px;
}

.calendar-title {
	margin: 0;
}

.calendar-title-container {
	text-align: center;
}

.calendar-views {
	text-align: right;
}

.calendar-error {
	display: none;
}

.cal-event-list .calendar-event-datetime {
	font-size: 85%;
}

.cal-event-list > li {
	margin-bottom: 20px;
}

.cal-event-list .calendar-event-title {
	margin: 0;
}

#cal-slide-content .calendar-event-datetime {
	color: #ccc;
}

.cal-event-list .calendar-event-description {
	margin: 0 0 10px;
}

.calendar-small {
	font-size: 85%;
}

.calendar-small .cal-events-num {
	margin-top: 4px;
}

.calendar-small .cal-year-box [class*="span"],
.calendar-small .cal-month-box [class*="cal-cell"] {
	min-height: 40px;
}

.calendar-small .cal-month-day {
	height: 40px;
}

.calendar-small span[data-cal-date] {
	font-size: 1em;
	margin-top: 2px;
	margin-right: 4px;
}

.calendar-small .cal-month-box .cal-day-today span[data-cal-date] {
	font-size: 1em;
}

.calendar-small .cal-month-day.calendar-hasevents {
	background-color: #d9edf7;
	color: #3a87ad;
}

.cal-year-box .row-fluid [class*="span"]:first-child {
	padding-left: 2.5641%;
}

.calendar-sidebar {
	margin-bottom: 40px;
}

@media (min-width: 980px) {
	.calendar-sidebar {
		float: right;
		margin-left: 20px;
		width: 300px;
	}
}

@media (max-width: 767px) {
	.calendar-title-container {
		margin: 20px 0;
	}

	.calendar-navs, .calendar-views {
		text-align: center;
	}
}
