﻿<%@ Page Language="C#" MasterPageFile="../MasterPages/Blogs.master" AutoEventWireup="true" CodeBehind="Blog.aspx.cs" Inherits="Site.Areas.Blogs.Pages.Blog" %>
<%@ OutputCache CacheProfile="User" %>

<asp:Content ContentPlaceHolderID="Breadcrumbs" runat="server"/>
