﻿
.blog-post {
	margin-bottom: 40px;
}

.blog-post .title {
	margin: 0;
}

.blog-post .user-avatar {
	display: block;
	float: right;
	margin-left: 10px;
}

.blog-post .metadata {
	margin-bottom: 20px;
	vertical-align: middle;
}

.blog-post .metadata .rating {
	float: right;
	margin-left: 10px;
}

.blog-post .metadata .rating .rating-stars {
	display: inline-block;
	vertical-align: text-bottom;
}

.blog-post .tags {
	list-style-type: none;
	margin: 20px 0;
}

.blog-post .tags li {
	display: inline;
	margin-right: 5px;
}

.blog-search .options {
	list-style: none;
	margin: 4px 0 0 0;
	padding: 0;
}

.blog-search .options > li {
	display: inline;
}

.blog-search .options input,
.blog-search .options label {
	margin: 0;
	vertical-align: middle;
}

.blog-search .options label {
	margin-left: 4px;
	margin-right: 10px;
}

.blog-post-comments {
	margin-bottom: 40px;
}

.blog-post-comments .comments {
	list-style-type: none;
	margin: 0;
}

.blog-post-comments .comments > li {
	margin-bottom: 20px;
}

.blog-post-comment-new-form .info {
	display: block;
	margin-bottom: 5px;
}

.blog-post-comment-new-form label {
	display: inline;
}

.blog-post-comment-new-form .validators {
	display: inline;
	color: #B94A48;
	padding-left: 4px;
}

.blog-post-comment-new-form .form-view .validation-summary {
	display: none;
}

.blog-post-comment-new-form input, .blog-post-comment-new-form textarea, .blog-post-comment-new-form .mceEditor {
	display: block;
	margin-bottom: 10px;
}

.blog-post-comment-new-form textarea {
	width: 400px;
	height: 200px;
}