﻿.events {
	margin-top: 20px;
}

.events > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.events  > ul > li {
	margin-bottom: 20px;
}

.events  > ul > li > .icon {
	display: block;
	float: left;
	position: relative;
	top: 12px;
}

.events  > ul > li > .vevent {
	margin-left: 20px;
}

.events  > ul > li > .vevent h3 {
	margin-bottom: 0;
	margin-top: 0;
}

.vevent .page-header .summary {
	display: block;
}

.vevent .page-header small {
	white-space: nowrap;
}

.vevent .controls .btn {
	display: block;
	margin-bottom: 10px;
}

.event-schedule {
	margin-top: 20px;
}

.event-schedule h4 {
	margin-top: 0;
}

@media (max-width: 768px) {
	.vevent .controls {
		margin-top: 20px;
	}
}

/** Feed **/

#content a.feed {
	display: block;
	float: right;
	margin: -8px 0 4px 4px;
}

/** Speakers Page **/

ul.speakers li {
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.speakers li img {
	float: right;
	margin-left: 10px;
}

.speakers h3, .speakers h4 {
	margin-bottom: 0.25em;
}

.speakers .speaker-url, .speakers .speaker-url .xrm-attribute {
	display: block;
}

.speakers .speaker-url {
	margin-bottom: 1.25em;
}

/** Sessions Page **/

div.session a {
	font-weight: bold;
}

ul.EventTags li {
	display: inline;
	margin: 0 0 0 3px;
}

/** Session Feedback **/

#feedback .date {
	color: #888;
	font-size: 1.2em;
}

#feedback .crmEntityFormView .cell {
	width: auto;
}

/** Sessions Schedule **/

#schedule h2 {
	margin-bottom: .5em;
}

#schedule .details {
	margin: 15px 0;
}

#schedule .actions {
	clear: both;
	margin: 5px 0;
	text-align:left;
}
