﻿.post-comments li.unapproved {
	background-color: #ddd;
	color: #444;
	margin-left: -10px;
	margin-right: -10px;
	padding: 8px 10px;
}

.post-comments h3, .post-comment-new h3 {
	margin-bottom: 2px;
}

.post-comments {
	margin-bottom: 40px;
}

.post-comments .comments {
	list-style-type: none;
	margin: 0;
}

.post-comments .comments > li {
	margin-bottom: 20px;
}

.post-comment-new-form .info {
	display: block;
	margin-bottom: 5px;
}

.post-comment-new-form label {
	display: inline;
}

.post-comment-new-form .validators {
	display: inline;
	color: #B94A48;
	padding-left: 4px;
}

.post-comment-new-form .form-view .tab,
.post-comment-new-form .author {
	margin-left: 20px;
}

.post-comment-new-form .form-view .validation-summary {
	display: none;
}

.post-comment-new-form input, .blog-post-comment-new-form textarea, .blog-post-comment-new-form .mceEditor {
	display: block;
	margin-bottom: 10px;
}

.post-comment-new-form input.btn {
	display: inline-block;
	margin-bottom: 0;
}

.post-comment-new-form textarea {
	width: 400px;
	height: 200px;
}

.post-comments .author {
	font-weight: bold;
	margin-left: 20px;
}

.post-comments .post-comment-date {
	color: #555;
}

#content .post-comments .frame, #content .post-comment-new-form.frame {
	margin-top: 0;
}

.post-comment-controls {
	float: right;
	margin-left: 10px;
}

.post-comment-controls a {
	cursor: pointer;
}

.post-comment-new-form .post-comment-validation-summary {
	color: #f00;
}

.post-comment-new-form .field-label {
	display: block;
	margin-bottom: 1px;
}

.post-comment-new-form .required label {
	font-weight: bold;
}

.post-comment-new-form .validators {
	display: inline;
	color: #f00;
}

.post-comment-new-form .form-view .validators {
	padding-left: 0.4em;
}

.post-comment-new-form .form-view .validation-summary {
	display: none;
}

.post-comment-new-form input, .post-comment-new-form textarea, .post-comment-new-form .mceEditor {
	display: block;
	margin-bottom: 10px;
}

.post-comment-new-form textarea {
	width: 480px;
	height: 200px;
}

