﻿body {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
}

.dataTable {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    table-layout: fixed;
    color: #333333;
}

    .dataTable td {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        border-left: 0px;
        border-right: 0px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        word-wrap: break-word;
        font-size: 14px;
        border-collapse: collapse;
    }

    .dataTable th {
        font-size: 1.2em;
        text-align: left;
        border: none 0px;
        padding-left: 0;
        color: #0088cc; /*Cyan light blue color*/
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: bold;
    }

.ContractNumberContent {
    /*Used for the main row*/
    color: #0088cc !important; /*Cyan light blue color*/
}
