﻿/* Map
------------------------------------------------------------*/

/* options */

#entity-list-map-options {
	margin-bottom: 10px;
}

#entity-list-map-locations {
	overflow-x: hidden;
	overflow-y: auto;
}

#entity-list-map-locations .uom {
	float: right;
}

/* Infobox */

.infobox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 250px;
}

.infobox .title {
	font-weight: bold;
	font-size: 14px;

}

.infobox-content {
	font-size: 11px;
	color: #000;
	text-shadow: 0 0 2px #ccc;
	padding: 4px 8px;
	border: 1px solid rgba(25,25,25,0.25);
	background-color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

.infobox-content p {
	margin: 0 0 5px 0;
}

.infobox.top {
	padding-bottom: 5px;
}

.infobox.bottom {
	padding-top: 5px;
}

.infobox.right {
	padding-left: 5px;
}

.infobox.left {
	padding-right: 5px;
}

.infobox-arrow, .infobox-arrow-inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 12px;
	height: 0;
	width: 0;
}

.infobox.top .infobox-arrow {
	margin-top: 96px;
	margin-left: 38px;
	border-top-color: #fff;
	border-top-color: rgba(25,25,25,0.2);
}

.infobox.bottom .infobox-arrow {
	margin-top: -23px;
	margin-left: 38px;
	border-bottom-color: #fff;
	border-bottom-color: rgba(25,25,25,0.2);
}

.infobox.right .infobox-arrow {
	margin-top: 12px;
	margin-left: -25px;
	border-right-color: #fff;
	border-right-color: rgba(25,25,25,0.2);
}

.infobox.left .infobox-arrow {
	margin-top: 16px;
	margin-left: 200px;
	border-left-color: #fff;
	border-left-color: rgba(25,25,25,0.2);
}

.infobox.top .infobox-arrow-inner {
	margin-top: -12px;
	margin-left: -12px;
	border-top-color: rgb(255,255,255);
}

.infobox.bottom .infobox-arrow-inner {
	margin-top: -12px;
	margin-left: -8px;
	border-bottom-color: rgb(255,255,255);
}

.infobox.right .infobox-arrow-inner {
	margin-top: -12px;
	margin-left: -8px;
	border-right-color: rgb(255,255,255);
}

.infobox.left .infobox-arrow-inner {
	margin-top: -16px;
	margin-left: -13px;
	border-left-color: rgb(255,255,255);
}

.infobox-content .status {
	padding: 1px 4px;
	color: #333;
	font-weight: bold;
}

.infobox-content .priority {
	font-weight: bold;
}

/* directions */

.MicrosoftMap.dd_directionsPanel {
	padding: 0 !important;
}

.MicrosoftMap .dd_waypoint {
	padding: 0 !important;
}

.MicrosoftMap .dd_itinerary li {
	padding: 6px 0  !important;
}

.MicrosoftMap .dd_itinerary .dd_instruction {
	font-size: 100%  !important;
}

.MicrosoftMap .dd_waypoint .dd_waypointDisplayText {
	font-size: 105% !important;
}