﻿
.events {
	margin-top: 20px;
}

.events .tab-pane > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.events .tab-pane > ul > li {
	margin-bottom: 20px;
}

.events .tab-pane > ul > li > .icon {
	display: block;
	float: left;
	position: relative;
	top: 12px;
}

.events .tab-pane > ul > li > .vevent {
	margin-left: 20px;
}

.events .tab-pane > ul > li > .vevent h3 {
	margin-bottom: 0;
	margin-top: 0;
}

.vevent .page-header .summary {
	display: block;
}

.vevent .page-header small {
	white-space: nowrap;
}

.vevent .controls .btn {
	display: block;
	margin-bottom: 10px;
}

.event-schedule {
	margin-top: 20px;
}

.event-schedule h4 {
	margin-top: 0;
}

@media (max-width: 768px) {
	.vevent .controls {
		margin-top: 20px;
	}
}

/** Speakers Page **/

ul.speakers li {
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.speakers li img {
	float: right;
	margin-left: 10px;
}

.speakers h3, .speakers h4 {
	margin-bottom: 0.25em;
}

.speakers .speaker-url, .speakers .speaker-url .xrm-attribute {
	display: block;
}

.speakers .speaker-url {
	margin-bottom: 1.25em;
}