﻿
.public-profile .activity-list {
	list-style: none;
	margin-left: 0;
	margin-right: 0;
}

.public-profile .activity-list > li {
	margin-bottom: 20px;
}

.public-profile .activity-list > li > h3 {
	margin: 0;
}

.public-profile .activity-list > li > .metadata {
	margin-bottom: 10px;
}