﻿
.kb-search .input-append {
	margin-bottom: 0;
}

.kb-article > .page-header > h4,
.kb-subjects > .page-header > h3,
.search-results .page-header > h3 {
	margin-bottom: 0;
}

.kb-subjects h4 {
	margin-bottom: 20px;
	margin-top: 0;
}

.kb-popular {
	margin-top: 20px;
}

.kb-popular h4 {
	margin-bottom: 20px;
	margin-top: 0;
}

.kb-popular li {
	margin-bottom: 0;
}
