﻿/* 311 Home Page
------------------------------------------------------------*/

.service311 a.service {
	box-shadow: none;
	color: #333333;
    display: block;
    text-decoration: none;
	padding-left: 9px;
	padding-right: 9px;
	margin-bottom: 0;
	height: 90px;
}

.service311 a.service img {
	margin-bottom: 19px;
}

.service311 a.service:hover, #service311 a.service:focus {
    color: #3A87AD;
}

.service311 a.service:hover, #service311 a.service:focus {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    box-shadow: 0 0 4px #BCE8F1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* Service Requests Page
------------------------------------------------------------*/

#service-requests li img {
    float: left;
    margin: 0 10px 0 0;
}

/* Service Request Status Page
------------------------------------------------------------*/

#service-request-status table {
	border: none;
}

#service-request-status td {
	border: none;
	line-height: 2em;
}

#service-request-status td:first-child {
	font-weight: bold;
	text-align: right;
}

#service-request-status td:last-child {
	padding: 0 0 0 5px;
}

/* Service Requests Map Page
------------------------------------------------------------*/

#searchOptions {
	clear: both;
	margin: 0;
	padding: 5px 10px;
	background: #a6c4d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#a6c4d9));
	background: -moz-linear-gradient(bottom, #a6c4d9, #FFFFFF);
	moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	border: solid 2px #EEEEEE;
	border-bottom: none;
}

#searchOptions:after {
	content: "."; display: block; height: 0; clear: both; visibility: hidden;
}

#searchOptions .options {
	float: left;
	margin: 0 0 0 5px;
}

#searchOptions .options:first-child {
	margin: 0 0 5px 0;
}

#searchOptions select {
	width: 150px;
}

#searchOptions .actions {
	float: left;
	margin: 10px 0 0 10px;
	text-align: right;
}

#searchOptions #dateFrom, #searchOptions #dateTo {
	width: 60px;
}

#datesFilter {
	background: #f7f7f7;
	border: solid 1px #bbb;
	padding: 0 3px 3px 3px;
	margin: 0;
	width: 142px;
	display: none;
}

#mapContainer {
	clear: both;
}

#serviceMap {
	position: relative;
	min-height: 100%;
	border: solid 2px #EEEEEE;
}

#serviceMap.mobile {
	position: absolute;
	width: 85%;
	height: 100%;
}

#mapLegend {
	margin: 0;
	padding: 5px 10px;
	background: #a6c4d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#a6c4d9));
	background: -moz-linear-gradient(bottom, #a6c4d9, #FFFFFF);
	moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	border: solid 2px #EEEEEE;
	border-top: none;
}

#mapLegend h3 {
	color: #000;
	font-size: 1.2em;
	margin: 0;
}

#mapLegend ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

#mapLegend ul:after {
	content: "."; display: block; height: 0; clear: both; visibility: hidden;
}

#mapLegend li {
	line-height: 1em;
	font-size: 0.9em;
	/*float: left;*/
	display: inline;
	/*width: 25%;*/
}

#mapLegend li img {
	vertical-align: middle;
}

#ui-datepicker-div {
	font-size: 11px;
}

/* Infobox */

.infobox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 250px;
}

.infobox .title {
	font-weight: bold;
	font-size: 14px;
}

.infobox-content {
	font-size: 11px;
	color: #000;
	text-shadow: 0 0 2px #ccc;
	padding: 4px 8px;
	border: 1px solid rgba(25,25,25,0.25);
	background-color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

.infobox-content p {
	margin: 0 0 5px 0;
}

.infobox.top {
	padding-bottom: 5px;
}

.infobox.bottom {
	padding-top: 5px;
}

.infobox.right {
	padding-left: 5px;
}

.infobox.left {
	padding-right: 5px;
}

.infobox-arrow, .infobox-arrow-inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 12px;
	height: 0;
	width: 0;
}

.infobox.top .infobox-arrow {
	margin-top: 96px;
	margin-left: 38px;
	border-top-color: #fff;
	border-top-color: rgba(25,25,25,0.2);
}

.infobox.bottom .infobox-arrow {
	margin-top: -23px;
	margin-left: 38px;
	border-bottom-color: #fff;
	border-bottom-color: rgba(25,25,25,0.2);
}

.infobox.right .infobox-arrow {
	margin-top: 12px;
	margin-left: -25px;
	border-right-color: #fff;
	border-right-color: rgba(25,25,25,0.2);
}

.infobox.left .infobox-arrow {
	margin-top: 16px;
	margin-left: 200px;
	border-left-color: #fff;
	border-left-color: rgba(25,25,25,0.2);
}

.infobox.top .infobox-arrow-inner {
	margin-top: -12px;
	margin-left: -12px;
	border-top-color: rgb(255,255,255);
}

.infobox.bottom .infobox-arrow-inner {
	margin-top: -12px;
	margin-left: -8px;
	border-bottom-color: rgb(255,255,255);
}

.infobox.right .infobox-arrow-inner {
	margin-top: -12px;
	margin-left: -8px;
	border-right-color: rgb(255,255,255);
}

.infobox.left .infobox-arrow-inner {
	margin-top: -16px;
	margin-left: -13px;
	border-left-color: rgb(255,255,255);
}

.infobox-content .status {
	padding: 1px 4px;
	color: #333;
	font-weight: bold;
}

.infobox-content .priority {
	font-weight: bold;
}
