<% if (!cal._small_) { %>
<% if(events.length > 0) { %>
	<ul class="unstyled list-unstyled cal-event-list">
		<% _.each(events, function(event){ %>
			<li><span class="pull-left event <%= event['class'] %>"></span>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
				   data-event-class="<%= event['class'] %>" class="event-item">
					<%= event.title %></a>
				<% var start = moment(event.start); %>
				<% var end = event.end ? moment(event.end) : null; %>
				<p class="calendar-event-datetime"><%= start.format('MMMM D, YYYY h:mm A') %><%= end && event.end > event.start ? ' &ndash; ' + (end.isSame(start, 'day') ? end.format('h:mm A') : end.format('MMMM D, YYYY h:mm A')) : '' %></p>
				<% if (event.description) { %>
					<div class="calendar-event-description"><%= event.description %></div>
				<% } %>
			</li>
		<% }) %>
	</ul>
<% } else  { %>
	<p><%= cal.locale.no_events_in_day %></p>
<% } %>
<% } %>