<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list" style="background-image: none; background-color: #333;">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<li>
				<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"data-event-class="<%= event['class'] %>" class="event-item"><%= event.title %></a>&nbsp;
				<% var start = moment(event.start); %>
				<% var end = event.end ? moment(event.end) : null; %>
				<span class="calendar-event-datetime"><%= start.format('MMMM D, YYYY h:mm A') %><%= end && event.end > event.start ? ' &ndash; ' + (end.isSame(start, 'day') ? end.format('h:mm A') : end.format('MMMM D, YYYY h:mm A')) : '' %></span>
			</li>
		<% }) %>
	</ul>
</div>
