﻿<div class="page-header">
	<div class="row-fluid">
		<div class="span4 calendar-navs">
			<div class="btn-group">
				<button class="btn btn-small" data-calendar-nav="prev">&lsaquo;</button>
				<button class="btn btn-small" data-calendar-nav="next">&rsaquo;</button>
			</div>
			<div class="btn-group">
				<button class="btn btn-small" data-calendar-nav="today">Today</button>
			</div>
		</div>
		<div class="span4 calendar-title-container">
			<h4 class="calendar-title"></h4>
		</div>
		<div class="span4 calendar-views">
			<div class="btn-group">
				<button class="btn btn-small" data-calendar-view="year">Year</button>
				<button class="btn btn-small" data-calendar-view="month">Month</button>
				<button class="btn btn-small" data-calendar-view="week">Week</button>
			</div>
			<div class="btn-group calendar-downloads">
				<a class="btn btn-small"><i class="icon-download" title="Download this calendar"></i></a>
			</div>
		</div>
	</div>
</div>
<div class="calendar-error alert alert-block alert-error">
	<p>There was a problem loading data for this calendar.</p>
</div>
<% if (_small_) { %>
	<div class="calendar-sidebar">
		<div class="calendar"></div>
	</div>
	<div class="event-list"></div>
<% } else { %>
	<div class="calendar"></div>
<% } %>
