﻿<% if (events.length > 0) { %>
	<ul class="unstyled list-unstyled cal-event-list">
		<% _.each(events, function(event){ %>
			<li>
				<h4 class="calendar-event-title"><a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
				  data-event-class="<%= event['class'] %>" class="event-item">
					<%= event.title %></a></h4>
				<% var start = moment(event.start); %>
				<% var end = event.end ? moment(event.end) : null; %>
				<p class="calendar-event-datetime"><%= start.format('MMMM D, YYYY h:mm A') %><%= end && event.end > event.start ? ' &ndash; ' + (end.isSame(start, 'day') ? end.format('h:mm A') : end.format('MMMM D, YYYY h:mm A')) : '' %></p>
				<% if (event.description) { %>
					<div class="calendar-event-description"><%= event.description %></div>
				<% } %>
			</li>
		<% }) %>
	</ul>
<% } %>
