﻿<%@ Master Language="C#" MasterPageFile="~/MasterPages/WebForms.master" AutoEventWireup="true" CodeBehind="Forums.master.cs" Inherits="Site.Areas.Forums.MasterPages.Forums" %>

<asp:Content ContentPlaceHolderID="Head" runat="server">
	<link rel="stylesheet" href="<%: Url.Content("~/Areas/Forums/css/forums.css") %>">
	<asp:ContentPlaceHolder ID="Head" runat="server"/>
</asp:Content>

<asp:Content ContentPlaceHolderID="MainContent" runat="server">
	<div class="page-heading">
		<asp:ContentPlaceHolder ID="Breadcrumbs" runat="server">
		</asp:ContentPlaceHolder>
		<asp:ContentPlaceHolder ID="PageHeader" runat="server">
		</asp:ContentPlaceHolder>
	</div>
	<asp:ContentPlaceHolder ID="MainContent" runat="server"/>
</asp:Content>

<asp:Content ContentPlaceHolderID="Scripts" runat="server">
	<asp:ContentPlaceHolder ID="Scripts" runat="server"/>
</asp:Content>